In [1]:
import pandas as pd

## Defining the class

In [163]:
class DataAnalysisIndividualLevel:
    dataset_names = ['freedom_data', 'socialism_data', 'family_data', 'ethnicity_data', 'gender_data', 'nationalism_data', 'religiosity_data']
    def loading_each_dataset(self):
        for x in self.dataset_names:
            exec(f"self.{x} = pd.read_csv('./ivs_extracted_and_merged/{x}.csv')")
        self.demographics_data = pd.read_csv('./ivs_extracted_and_merged/demographics_data.csv')
        
    def recoding_demographics(self):
        self.demographics_data = self.demographics_data.assign(country = self.demographics_data.S003)
        self.demographics_data = self.demographics_data.assign(gender = self.demographics_data.X001.map({1: 0, 2: 1, -2: None, -4: None, -5: None}))
        self.demographics_data = self.demographics_data.assign(education = self.demographics_data.X025.map({0: 0, 1: 0, 2: 0, 3: 0.5, 4: 0.5, 5: 0.5, 6: 1, 7: 1, 8: 1, -1: 0, -2: None, -4: None, -5: None}))
        self.demographics_data = self.demographics_data.assign(social_class = self.demographics_data.X045.map({1: 1, 2: 0.75, 3: 0.5, 4: 0.25, 5: 0, -1: 0.5, -2: None, -4: None, -5: None}))
        self.demographics_data = self.demographics_data.assign(income = self.demographics_data.X047_IVS.map({1: 0, 2: 0, 3: 0.25, 4: 0.25, 5: 0.5, 6: 0.5, 7: 0.75, 8: 0.75, 9: 1, 10: 1, -1: 0.5, -2: None, -4: None, -5: None}))
        self.demographics_data = self.demographics_data.assign(urban = self.demographics_data.X049.map({1: 0, 2: 0, 3: 0.25, 4: 0.25, 5: 0.25, 6: 0.5, 7: 0.75, 8: 1, -4: None, -5: None}))
        
    def recoding_age(self):
        self.age_numbers = []
        self.string_list = []
        self.x = range(1, 104)
        for n in self.x:
            self.age_numbers.append(n)
        for a in self.age_numbers:
            self.string_list.append(f'{a}: {a}, ')
        self.string_list.append('108: 108, ')
        for b in [-1, -2, -4, -5]:
            if b > -5:
                self.string_list.append(f'{b}: None, ')
            else:
                self.string_list.append(f'{b}: None')
        self.string_list = ['{'] + self.string_list + ['}']
        self.age_string = ''.join(self.string_list)
        exec(f'self.demographics_data = self.demographics_data.assign(age = self.demographics_data.X003.map({self.age_string}))')
        
    def recoding_freedom(self):
        self.freedom_data = self.freedom_data.assign(child_independence = self.freedom_data.A029.map({0: 0, 1: 1, -1: 0.5, -2: None, -4: None, -5: None}))
        self.freedom_data = self.freedom_data.assign(child_imagination = self.freedom_data.A034.map({0: 0, 1: 1, -1: 0.5, -2: None, -4: None, -5: None}))
        self.freedom_data = self.freedom_data.assign(child_obedience = self.freedom_data.A042.map({0: 1, 1: 0, -1: 0.5, -2: None, -4: None, -5: None}))
        self.freedom_data = self.freedom_data.assign(respect_authority = self.freedom_data.E018.map({1: 0, 2: 0.5, 3: 1, -1: 0.5, -2: None, -4: None, -5: None}))
        self.freedom_data = self.freedom_data.assign(aim_of_country = self.freedom_data.E001.map({1: 0, 2: 0, 3: 1, 4: 0, -1: 0.5, -2: None, -4: None, -5: None}))
        self.freedom_data = self.freedom_data.assign(aim_of_respondent = self.freedom_data.E003.map({1: 0, 2: 0, 3: 0, 4: 1, -1: 0.5, -2: None, -4: None, -5: None}))
        self.freedom_data = self.freedom_data.assign(strong_leader = self.freedom_data.E114.map({1: 0, 2: 0.33, 3: 0.66, 4: 1, -1: 0.5, -2: None, -4: None, -5: None}))
        self.freedom_data = self.freedom_data.assign(army_rule = self.freedom_data.E116.map({1: 0, 2: 0.33, 3: 0.66, 4: 1, -1: 0.5, -2: None, -4: None, -5: None}))
        self.freedom_data = self.freedom_data.assign(democratic_system = self.freedom_data.E117.map({1: 1, 2: 0.66, 3: 0.33, 4: 0, -1: 0.5, -2: None, -4: None, -5: None}))
                
    def recoding_socialism(self):
        self.socialism_data = self.socialism_data.assign(income_equality = self.socialism_data.E035.map({1: 1, 2: 1, 3: 0.75, 4: 0.75, 5: 0.5, 6: 0.5, 7: 0.25, 8: 0.25, 9: 0, 10: 0, -1: 0.5, -2: None, -4: None, -5: None}))
        self.socialism_data = self.socialism_data.assign(state_ownership = self.socialism_data.E036.map({1: 0, 2: 0, 3: 0.25, 4: 0.25, 5: 0.5, 6: 0.5, 7: 0.75, 8: 0.75, 9: 1, 10: 1, -1: 0.5, -2: None, -4: None, -5: None}))        
        self.socialism_data = self.socialism_data.assign(government_responsibility = self.socialism_data.E037.map({1: 1, 2: 1, 3: 0.75, 4: 0.75, 5: 0.5, 6: 0.5, 7: 0.25, 8: 0.25, 9: 0, 10: 0, -1: 0.5, -2: None, -4: None, -5: None}))        
        self.socialism_data = self.socialism_data.assign(competition_harmful = self.socialism_data.E039.map({1: 0, 2: 0, 3: 0.25, 4: 0.25, 5: 0.5, 6: 0.5, 7: 0.75, 8: 0.75, 9: 1, 10: 1, -1: 0.5, -2: None, -4: None, -5: None}))                
        
    def recoding_family(self):
        self.family_data = self.family_data.assign(justifiable_homosexuality = self.family_data.F118.map({1: 0, 2: 0, 3: 0.25, 4: 0.25, 5: 0.5, 6: 0.5, 7: 0.75, 8: 0.75, 9: 1, 10: 1, -1: 0.5, -2: None, -4: None, -5: None}))
        self.family_data = self.family_data.assign(justifiable_prostitution = self.family_data.F119.map({1: 0, 2: 0, 3: 0.25, 4: 0.25, 5: 0.5, 6: 0.5, 7: 0.75, 8: 0.75, 9: 1, 10: 1, -1: 0.5, -2: None, -4: None, -5: None}))  
        self.family_data = self.family_data.assign(justifiable_abortion = self.family_data.F120.map({1: 0, 2: 0, 3: 0.25, 4: 0.25, 5: 0.5, 6: 0.5, 7: 0.75, 8: 0.75, 9: 1, 10: 1, -1: 0.5, -2: None, -4: None, -5: None}))  
        self.family_data = self.family_data.assign(justifiable_divorce = self.family_data.F121.map({1: 0, 2: 0, 3: 0.25, 4: 0.25, 5: 0.5, 6: 0.5, 7: 0.75, 8: 0.75, 9: 1, 10: 1, -1: 0.5, -2: None, -4: None, -5: None}))          
        
    def recoding_ethnicity(self):
        self.ethnicity_data = self.ethnicity_data.assign(neighbors_race = self.ethnicity_data.A124_02.map({0: 1, 1: 0, -1: 0.5, -2: None, -4: None, -5: None}))
        self.ethnicity_data = self.ethnicity_data.assign(neighbors_immigrants = self.ethnicity_data.A124_06.map({0: 1, 1: 0, -1: 0.5, -2: None, -4: None, -5: None}))
        self.ethnicity_data = self.ethnicity_data.assign(imigrant_jobs = self.ethnicity_data.C002.map({1: 0, 2: 1, 3: 0.5, -1: 0.5, -2: None, -4: None, -5: None}))        
        
    def recoding_gender(self):
        self.gender_data = self.gender_data.assign(men_leaders = self.gender_data.D059.map({1: 0, 2: 0.33, 3: 0.66, 4: 1, -1: 0.5, -2: None, -4: None, -5: None}))
        self.gender_data = self.gender_data.assign(men_jobs = self.gender_data.C001.map({1: 0, 2: 1, 3: 0.5, -1: 0.5, -2: None, -4: None, -5: None}))
        self.gender_data = self.gender_data.assign(university_boy = self.gender_data.D060.map({1: 0, 2: 0.33, 3: 0.66, 4: 1, -1: 0.5, -2: None, -4: None, -5: None}))
        
    def recoding_nationalism(self):
        self.nationalism_data = self.nationalism_data.assign(willing_to_fight = self.nationalism_data.E012.map({0: 0, 1: 1, -1: 0.5, -2: None, -4: None, -5: None}))        
        self.nationalism_data = self.nationalism_data.assign(national_pride = self.nationalism_data.G006.map({1: 1, 2: 0.66, 3: 0.33, 4: 0, -1: 0.5, -2: None, -4: None, -5: None}))                
        
    def recoding_religiosity(self):
        self.religiosity_data = self.religiosity_data.assign(important_in_life = self.religiosity_data.A006.map({1: 1, 2: 0.66, 3: 0.33, 4: 0, -1: 0.5, -2: None, -4: None, -5: None}))
        self.religiosity_data = self.religiosity_data.assign(child_faith = self.religiosity_data.A040.map({0: 0, 1: 1, -1: 0.5, -2: None, -4: None, -5: None}))
        self.religiosity_data = self.religiosity_data.assign(importance_of_god = self.religiosity_data.F063.map({1: 0, 2: 0, 3: 0.25, 4: 0.25, 5: 0.5, 6: 0.5, 7: 0.75, 8: 0.75, 9: 1, 10: 1, -1: 0.5, -2: None, -4: None, -5: None}))
        self.religiosity_data = self.religiosity_data.assign(religious_attendance = self.religiosity_data.F028.map({1: 1, 2: 1, 3: 0.75, 4: 0.5, 5: 0.25, 6: 0, 7: 0, -1: 0.5, -2: None, -4: None, -5: None}))        
        self.religiosity_data = self.religiosity_data.assign(religious_person = self.religiosity_data.F034.map({1: 1, 2: 0.5, 3: 1, -1: 0.5, -2: None, -4: None, -5: None}))

    def subindices_freedom(self):
        self.freedom_data = self.freedom_data.assign(child_qualities = (self.freedom_data.child_independence + self.freedom_data.child_imagination + self.freedom_data.child_obedience)/3)
        self.freedom_data = self.freedom_data.assign(social_goals = (self.freedom_data.aim_of_country + self.freedom_data.aim_of_respondent)/2)
        self.freedom_data = self.freedom_data.assign(political_systems = (self.freedom_data.strong_leader + self.freedom_data.army_rule + self.freedom_data.democratic_system)/3)
        
    def building_indices(self):
        self.freedom_data = self.freedom_data.assign(freedom_index = round((self.freedom_data.child_qualities + self.freedom_data.respect_authority + self.freedom_data.social_goals + self.freedom_data.political_systems)/4, 2))
        self.socialism_data = self.socialism_data.assign(socialism_index = round((self.socialism_data.income_equality + self.socialism_data.state_ownership + self.socialism_data.government_responsibility + self.socialism_data.competition_harmful)/4, 2))
        self.family_data = self.family_data.assign(family_index = round((self.family_data.justifiable_homosexuality + self.family_data.justifiable_prostitution + self.family_data.justifiable_abortion + self.family_data.justifiable_divorce)/4, 2))
        self.ethnicity_data = self.ethnicity_data.assign(ethnicity_index = round((self.ethnicity_data.neighbors_race + self.ethnicity_data.neighbors_immigrants + self.ethnicity_data.imigrant_jobs)/3, 2))
        self.gender_data = self.gender_data.assign(gender_index = round((self.gender_data.men_leaders + self.gender_data.men_jobs + self.gender_data.university_boy)/3, 2))
        self.nationalism_data = self.nationalism_data.assign(nationalism_index = round((self.nationalism_data.willing_to_fight + self.nationalism_data.national_pride)/2, 2))
        self.religiosity_data = self.religiosity_data.assign(religiosity_index = round((self.religiosity_data.important_in_life + self.religiosity_data.child_faith + self.religiosity_data.religious_attendance + self.religiosity_data.importance_of_god + self.religiosity_data.religious_person)/5, 2))
        
    def index_frame(self):
        self.final_frame = self.demographics_data[['country', 'gender', 'education', 'social_class', 'income', 'urban']]
        self.political_orientation_indices = ["self.freedom_data[['freedom_index']]",
        "self.socialism_data[['socialism_index']]",
        "self.family_data[['family_index']]",
        "self.ethnicity_data[['ethnicity_index']]",
        "self.gender_data[['gender_index']]",
        "self.nationalism_data[['nationalism_index']]",
        "self.religiosity_data[['religiosity_index']]"]
        for x in self.political_orientation_indices:
            exec(f'self.final_frame = self.final_frame.join({x})')

    def data_saver(self):
        self.final_frame.to_csv('final_frame.csv', sep=',', index=False, encoding='utf-8')

## Instantiating the class and calling the methods

In [164]:
ILDataAnalyser = DataAnalysisIndividualLevel()

In [165]:
ILDataAnalyser.loading_each_dataset()

In [166]:
ILDataAnalyser.recoding_demographics()

In [167]:
ILDataAnalyser.recoding_freedom()

In [168]:
ILDataAnalyser.recoding_socialism()

In [169]:
ILDataAnalyser.recoding_family()

In [170]:
ILDataAnalyser.recoding_ethnicity()

In [171]:
ILDataAnalyser.recoding_gender()

In [172]:
ILDataAnalyser.recoding_nationalism()

In [173]:
ILDataAnalyser.recoding_religiosity()

In [174]:
ILDataAnalyser.subindices_freedom()

In [175]:
ILDataAnalyser.building_indices()

In [176]:
ILDataAnalyser.index_frame()

In [177]:
ILDataAnalyser.data_saver()

## Checking the results

#### Looking at the merged data by group of political attitudes

In [139]:
ILDataAnalyser.freedom_data

,A029,A034,A040,A042,E018,E001,E002,E003,E004,E114,...,respect_authority,aim_of_country,aim_of_respondent,strong_leader,army_rule,democratic_system,child_qualities,social_goals,political_systems,freedom_index
0,0,0,0,1,2,-1,-1,-1,-1,-1,...,0.5,0.5,0.5,0.50,0.50,1.00,0.000000,0.50,0.666667,0.42
1,0,0,0,1,2,-1,-1,-1,-1,-1,...,0.5,0.5,0.5,0.50,0.50,0.50,0.000000,0.50,0.500000,0.38
2,0,0,0,1,2,-1,-1,-1,-1,-1,...,0.5,0.5,0.5,0.50,0.50,0.50,0.000000,0.50,0.500000,0.38
3,1,1,0,1,2,-1,-1,-1,-1,4,...,0.5,0.5,0.5,1.00,1.00,1.00,0.666667,0.50,1.000000,0.67
4,0,0,0,1,2,1,-1,-1,-1,3,...,0.5,0.0,0.5,0.66,1.00,0.66,0.000000,0.25,0.773333,0.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
675298,1,0,1,1,1,-4,-4,1,4,1,...,0.0,NaN,0.0,0.00,0.33,0.66,0.333333,NaN,0.330000,NaN
675299,0,0,1,0,1,-4,-4,1,4,2,...,0.0,NaN,0.0,0.33,0.33,0.66,0.333333,NaN,0.440000,NaN
675300,1,0,1,1,1,-4,-4,3,2,-1,...,0.0,NaN,0.0,0.50,0.00,1.00,0.333333,NaN,0.500000,NaN
675301,0,0,0,1,1,-4,-4,2,3,-1,...,0.0,NaN,0.0,0.50,0.00,1.00,0.000000,NaN,0.500000,NaN
675302,0,0,1,0,3,-4,-4,1,4,-1,...,1.0,NaN,0.0,0.50,0.50,0.50,0.333333,NaN,0.500000,NaN

In [140]:
ILDataAnalyser.socialism_data

,E035,E036,E037,E039,income_equality,state_ownership,government_responsibility,competition_harmful,socialism_index
0,7,3,4,3,0.25,0.25,0.75,0.25,0.38
1,7,3,10,2,0.25,0.25,0.00,0.00,0.12
2,7,1,9,-1,0.25,0.00,0.00,0.50,0.19
3,9,2,8,3,0.00,0.00,0.25,0.25,0.12
4,4,6,8,6,0.75,0.50,0.25,0.50,0.50
...,...,...,...,...,...,...,...,...,...
675298,5,10,5,4,0.50,1.00,0.50,0.25,0.56
675299,10,10,10,5,0.00,1.00,0.00,0.50,0.38
675300,10,10,10,5,0.00,1.00,0.00,0.50,0.38
675301,1,-1,10,7,1.00,0.50,0.00,0.75,0.56
675302,5,10,5,7,0.50,1.00,0.50,0.75,0.69

In [141]:
ILDataAnalyser.family_data

,A124_09,F118,F119,F120,F121,justifiable_homosexuality,justifiable_prostitution,justifiable_abortion,justifiable_divorce,family_index
0,1,-1,1,-1,1,0.50,0.00,0.5,0.00,0.25
1,1,1,1,1,1,0.00,0.00,0.0,0.00,0.00
2,1,-1,1,1,1,0.50,0.00,0.0,0.00,0.12
3,1,4,4,10,6,0.25,0.25,1.0,0.50,0.50
4,1,1,1,1,3,0.00,0.00,0.0,0.25,0.06
...,...,...,...,...,...,...,...,...,...,...
675298,0,2,5,1,4,0.00,0.50,0.0,0.25,0.19
675299,0,1,10,1,5,0.00,1.00,0.0,0.50,0.38
675300,0,7,5,5,10,0.75,0.50,0.5,1.00,0.69
675301,1,1,1,1,1,0.00,0.00,0.0,0.00,0.00
675302,0,5,2,1,1,0.50,0.00,0.0,0.00,0.12

In [142]:
ILDataAnalyser.ethnicity_data

,A124_02,A124_06,C002,neighbors_race,neighbors_immigrants,imigrant_jobs,ethnicity_index
0,1,0,1,0.0,1.0,0.0,0.33
1,0,0,1,1.0,1.0,0.0,0.67
2,0,0,1,1.0,1.0,0.0,0.67
3,0,0,3,1.0,1.0,0.5,0.83
4,1,1,1,0.0,0.0,0.0,0.00
...,...,...,...,...,...,...,...
675298,0,0,1,1.0,1.0,0.0,0.67
675299,0,0,1,1.0,1.0,0.0,0.67
675300,1,1,1,0.0,0.0,0.0,0.00
675301,0,1,1,1.0,0.0,0.0,0.33
675302,0,1,1,1.0,0.0,0.0,0.33

In [10]:
ILDataAnalyser.ethnicity_data.A124_02.unique()

array([ 1,  0, -1, -2, -4, -5], dtype=int64)

In [11]:
ILDataAnalyser.ethnicity_data.A124_06.unique()

array([ 0,  1, -1, -2, -4, -5], dtype=int64)

In [12]:
ILDataAnalyser.ethnicity_data.C002.unique()

array([ 1,  3,  2, -1, -4, -2, -5], dtype=int64)

In [143]:
ILDataAnalyser.gender_data

        D059  C001  D060  men_leaders  men_jobs  university_boy  gender_index
0          2     3     3         0.33       0.5            0.66          0.50
1         -1     1    -1         0.50       0.0            0.50          0.33
2         -1     1    -1         0.50       0.0            0.50          0.33
3          3     2     4         0.66       1.0            1.00          0.89
4          1     1     1         0.00       0.0            0.00          0.00
...      ...   ...   ...          ...       ...             ...           ...
675298    -4     2    -4          NaN       1.0             NaN           NaN
675299    -4     2    -4          NaN       1.0             NaN           NaN
675300    -4     2    -4          NaN       1.0             NaN           NaN
675301    -4     2    -4          NaN       1.0             NaN           NaN
675302    -4     2    -4          NaN       1.0             NaN           NaN

[675303 rows x 7 columns]

In [5]:
ILDataAnalyser.gender_data.D059.unique()

array([ 2, -1,  3,  1,  4, -2, -4, -5], dtype=int64)

In [6]:
ILDataAnalyser.gender_data.C001.unique()

array([ 3,  1,  2, -1, -2, -4, -5], dtype=int64)

In [7]:
ILDataAnalyser.gender_data.D060.unique()

array([ 3, -1,  4,  1,  2, -2, -4, -5], dtype=int64)

In [144]:
ILDataAnalyser.nationalism_data

        E012  G006  willing_to_fight  national_pride  nationalism_index
0          0     2               0.0            0.66               0.33
1         -1     2               0.5            0.66               0.58
2         -1     1               0.5            1.00               0.75
3          0     3               0.0            0.33               0.16
4          1     1               1.0            1.00               1.00
...      ...   ...               ...             ...                ...
675298    -4    -3               NaN             NaN                NaN
675299    -4    -3               NaN             NaN                NaN
675300    -4    -3               NaN             NaN                NaN
675301    -4    -3               NaN             NaN                NaN
675302    -4    -3               NaN             NaN                NaN

[675303 rows x 5 columns]

In [8]:
ILDataAnalyser.nationalism_data.E012.unique()

array([ 0, -1,  1, -4, -2, -3, -5], dtype=int64)

In [9]:
ILDataAnalyser.nationalism_data.G006.unique()

array([ 2,  1,  3, -1, -3,  4, -2, -5, -4], dtype=int64)

In [145]:
ILDataAnalyser.religiosity_data

,A006,A040,F063,F028,F034,important_in_life,child_faith,importance_of_god,religious_attendance,religious_person,religiosity_index
0,2,0,10,8,1,0.66,0.0,1.00,NaN,1.0,NaN
1,3,0,5,4,1,0.33,0.0,0.50,0.5,1.0,0.47
2,2,0,6,6,1,0.66,0.0,0.50,0.0,1.0,0.43
3,4,0,8,8,3,0.00,0.0,0.75,NaN,1.0,NaN
4,3,0,10,8,1,0.33,0.0,1.00,NaN,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
675298,1,1,10,4,1,1.00,1.0,1.00,0.5,1.0,0.90
675299,1,1,10,4,1,1.00,1.0,1.00,0.5,1.0,0.90
675300,1,1,10,1,1,1.00,1.0,1.00,1.0,1.0,1.00
675301,1,0,10,4,1,1.00,0.0,1.00,0.5,1.0,0.70
675302,1,1,10,4,1,1.00,1.0,1.00,0.5,1.0,0.90

In [62]:
ILDataAnalyser.religiosity_data.A006.unique()

array([ 2,  3,  4,  1, -1, -2, -4, -5, -3], dtype=int64)

In [63]:
ILDataAnalyser.religiosity_data.F063.unique()

array([10,  5,  6,  8,  4,  7,  1, -1,  9,  3,  2, -2, -4], dtype=int64)

#### Looking at the merged demographic data

In [146]:
ILDataAnalyser.demographics_data

,S003,X001,X003,X025,X045,X047_IVS,X049,country,gender,education,social_class,income,urban
0,8,2,18,6,-1,3,3,8,1.0,1.0,0.50,0.25,0.25
1,8,1,28,4,4,6,1,8,0.0,0.5,0.25,0.50,0.00
2,8,1,67,-3,4,7,1,8,0.0,NaN,0.25,0.75,0.00
3,8,2,33,7,2,9,4,8,1.0,1.0,0.75,1.00,0.25
4,8,1,38,6,5,3,4,8,0.0,1.0,0.00,0.25,0.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...
675298,915,2,24,5,-4,6,-5,915,1.0,0.5,NaN,0.50,NaN
675299,915,1,50,5,-4,4,-5,915,0.0,0.5,NaN,0.25,NaN
675300,915,2,23,5,-4,10,-5,915,1.0,0.5,NaN,1.00,NaN
675301,915,2,34,4,-4,9,-5,915,1.0,0.5,NaN,1.00,NaN
675302,915,1,51,6,-4,5,-5,915,0.0,1.0,NaN,0.50,NaN

In [10]:
ILDataAnalyser.demographics_data.X001.unique()

array([ 2,  1, -1, -2, -5, -4], dtype=int64)

In [12]:
ILDataAnalyser.demographics_data.X025.unique()

array([ 6,  4, -3,  7,  2,  1,  8,  3,  5, -2, -1, -4, -5], dtype=int64)

In [13]:
ILDataAnalyser.demographics_data.X045.unique()

array([-1,  4,  2,  5,  3,  1, -2, -4, -3, -5], dtype=int64)

In [14]:
ILDataAnalyser.demographics_data.X047_IVS.unique()

array([ 3,  6,  7,  9,  5,  4,  1,  8,  2, 10, -1, -2, -4, -5, 11, -3],
      dtype=int64)

In [15]:
ILDataAnalyser.demographics_data.X049.unique()

array([ 3,  1,  4,  7,  2,  5,  8,  6, -1, -4, -2, -5], dtype=int64)

#### Looking at the final frame

In [161]:
ILDataAnalyser.final_frame

,country,gender,education,social_class,income,urban,freedom_index,socialism_index,family_index,ethnicity_index,gender_index,nationalism_index,religiosity_index
0,8,1.0,1.0,0.50,0.25,0.25,0.42,0.38,0.25,0.33,0.50,0.33,NaN
1,8,0.0,0.5,0.25,0.50,0.00,0.38,0.12,0.00,0.67,0.33,0.58,0.47
2,8,0.0,NaN,0.25,0.75,0.00,0.38,0.19,0.12,0.67,0.33,0.75,0.43
3,8,1.0,1.0,0.75,1.00,0.25,0.67,0.12,0.50,0.83,0.89,0.16,NaN
4,8,0.0,1.0,0.00,0.25,0.25,0.38,0.50,0.06,0.00,0.00,1.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
675298,915,1.0,0.5,NaN,0.50,NaN,NaN,0.56,0.19,0.67,NaN,NaN,0.90
675299,915,0.0,0.5,NaN,0.25,NaN,NaN,0.38,0.38,0.67,NaN,NaN,0.90
675300,915,1.0,0.5,NaN,1.00,NaN,NaN,0.38,0.69,0.00,NaN,NaN,1.00
675301,915,1.0,0.5,NaN,1.00,NaN,NaN,0.56,0.00,0.33,NaN,NaN,0.70
675302,915,0.0,1.0,NaN,0.50,NaN,NaN,0.69,0.12,0.33,NaN,NaN,0.90

## Checking the number of missing values

In [162]:
ILDataAnalyser.final_frame.isna().sum()

country                   0
gender                 5003
education            207612
social_class         285355
income                52670
urban                270905
freedom_index        269361
socialism_index      100509
family_index          84831
ethnicity_index       80608
gender_index         223339
nationalism_index    153608
religiosity_index    237774
dtype: int64